.skillsContainer {
    display: flex;
    justify-content: space-evenly;
}

.svgContainer {
    width: 8%;
}

.svgSize {
    width: 100%;
}

#firebaseIcon {
    width: 90%;
}

.svgName {
    margin-top: 10px;
}

img {
    vertical-align: baseline;
}